NEO4J_URI=neo4j+s://<your-neo4j-uri>
NEO4J_USER=<your-neo4j-username>
NEO4J_PASSWORD=<your-neo4j-password>
NEO4J_DATABASE=<your-neo4j-database>

PINECONE_API_KEY=<your-pinecone-api-key>
PINECONE_ENV=<your-pinecone-environment>

ES_HOST=http://localhost:9200
ES_INDEX=<your-es-index-name>

# --- OpenAI Credentials ---
OPENAI_API_KEY=<your-openai-api-key>

QDRANT_API_KEY=<your-qdrant-api-key>
QDRANT_ENDPOINT=<your-qdrant-endpoint>
QDRANT_CLUSTER_ID=<your-qdrant-cluster-id>

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=<your-langsmith-api-key>
LANGSMITH_PROJECT=<your-langsmith-project-name>

COHERE_API_KEY=<your-cohere-api-key>

FAUST_SECRET_KEY=<your-faust-secret-key>
